.footer-area {
    background-color: #414141;
    color: #fff;
}
.footer-area a {
    text-decoration: none;
    color: #fff;
}
.copyRight p {
    padding-bottom: 30px;
    margin-bottom: 0;
}
.social-icon .active-icon {
    color: #FDC400;
}
.social-icon svg:hover {
    color: #FDC400;
}